html {
    width: 100%;
}
body {
    margin: auto;
    display: block;
    background-color: #333;
}
canvas {
    background-image: URL("https://i.imgur.com/h0qS1q1.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px auto;
    display: block;
}
button {
    width: 10%;
    height: 50px;
    display: block;
    margin: 20px auto;
    line-height: 8px;
    font-size: 20px;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 4px;
    border: 1px solid #333;
    padding: 10px 20px;
    color: #ffffff;
}
h1 {
    text-align: center;
    margin: 20px auto;
    color: #333;
    border-radius: 5px;
    background-color: #f5f5f5;
    width: 20%;
}